h2
  |ハンバーガーメニューから機能のお試しができます
javascript:
  window.addEventListener("turbolinks:load", () => {
    liff.init({
      liffId: "1655660496-AV1XB890"
    })
    .then(() => {
      if (!liff.isLoggedIn()) {
        liff.login();
      }
    })
    .catch((err) => {
      console.log(err.code, err.message);
    });

  })
