h2
  |getIDToken()のサンプルページ
button#getProfile
  |getIDTokenを取得してサーバーに送る
p#idtoken
  |IDToken:
ul
  |IDTokenをLINEに送って返ってきた値
  li#iss
    |iss:
  li#sub
    |sub:
  li#aud
    |aud:
  li#exp
    |exp:
  li#iat
    |iat:
  li#amr
    |amr:
  li#name
    |name:
  li#picture
    |picture:

javascript:
  window.addEventListener("turbolinks:load", () => {
    const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const getProfileButton = document.querySelector("#getProfile")
    const idtoken_field = document.querySelector("#idtoken")
    const iss_field = document.querySelector("#iss")
    const sub_field = document.querySelector("#sub")
    const aud_field = document.querySelector("#aud")
    const exp_field = document.querySelector("#exp")
    const iat_field = document.querySelector("#iat")
    const amr_field = document.querySelector("#amr")
    const name_field = document.querySelector("#name")
    const picture_field = document.querySelector("#picture")
    liff.init({
      liffId: "1655660496-AV1XB890"
    })
    .then(() => {
      if (!liff.isLoggedIn()) {
        liff.login();
      }
    })
    .catch((err) => {
      console.log(err.code, err.message);
    });
    liff.ready.then(() => {
      getProfileButton.addEventListener('click', () => {
      let idToken = liff.getIDToken()
      idtoken_field.innerHTML = `IDToken: ${idToken}`
      let body =`idToken=${idToken}`
      let request = new Request('/idtokens', {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
          'X-CSRF-Token': token
        },
        method: 'POST',
        body: body
      });
      fetch(request)
      .then(response => response.json())
        .then(data => {
           console.log(data)
           iss_field.innerHTML = `iss: ${data.iss}`
           sub_field.innerHTML = `sub: ${data.sub}`
           aud_field.innerHTML = `aud: ${data.aud}`
           exp_field.innerHTML = `exp: ${data.exp}`
           iat_field.innerHTML = `iat: ${data.iat}`
           amr_field.innerHTML = `amr: ${data.amr}`
           name_field.innerHTML = `name: ${data.name}`
           picture_field.innerHTML = `picture: ${data.picture}`
        })
      })

    })
  })

